*.class

# Package Files #
# temporarily allow .jar to allow generated binaries in repo
#*.jar
*.war
*.ear
snapshots/*.png
application.linux64
application.linux64/*
application.windows64
application.windows64/*
*DS_Store

.DS_Store
